body {
  background: pink;
  .wrap {
    max-width: 1300px;
    margin: 0 auto;
    .pages {
      background-color: rgba(255,255,255,0.2);
      .page {
        float: left;
        width: 31.33%;
        background-color: rgba(255,255,255,0.2);
        padding: 20px;
        margin: 1%;
      }
    }
  }
}
